.App {
  text-align: center;
  margin-top: 20px;
}

h2 {
  margin-bottom: 20px;
}

.data-entry-form {
  width: 80%;
  max-width: 600px;
  margin: auto;
  text-align: left;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input, 
.form-group select {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-group label {
  margin-left: 8px;
}

.submit-button {
  background-color: #28a745;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #218838;
}

.submitted-data {
  margin-top: 20px;
  text-align: left;
  font-size: 16px;
}
